
////////////////
//  palette   //
////////////////

$palettes: (
  mono: (
    darkest: #000,
    darker: #333,
    dark: #666,
    mid: #999,
    light: #ccc,
    lighter: #eee,
    offwhite: #fafafa,
    lightest: #fff,
  ),
  main: (
    primary: #002776,
    secondary: #009fda,
    background: #ccc,
    foreground: #eee,
    accent: #24509e,
  )
);

$palette-tools: (
  opacity: (
    light: .75,
    medium: .5,
    dark: .25
  )
);

//////////////////////
//  media queries   //
//////////////////////

$breakpoints: (
  base: 320px,
  small: 480px,
  medium: 768px,
  large: 1024px,
  full: 1280px
);
